body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p,
li,
div,
a {
  font-size: 1.2rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-grid {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
  background-color: #fff;
  list-style-type: none;
}

.nav-grid a {
  color: #000;
  text-decoration: none;
}

.w-tab-pane {
  display: none;
}

.w-tab-pane.w--tab-active {
  display: block;
}

.gauntlet-wrapper {
  width: 100%;
  max-width: 960px;
}

.hypothesis {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #000;
  margin: 3px 0;
  text-align: left;
  width: 100%;

  border-top: 1px solid transparent;
}

.hypothesis.book:nth-child(1) {
  border-top: 1px solid #000;
}

.hypothesis.book > *:nth-child(1) {
  width: 5%;
  min-width: 20px;
}

.hypothesis.book > *:nth-child(2) {
  width: 45%;
}

.hypothesis.book > *:nth-child(3) {
  width: 25%;
  opacity: 0;
}

.hypothesis.book > *:nth-child(4) {
  width: 15%;
  opacity: 0;
  text-align: right;
}

.hypothesis.book > *:nth-child(5) {
  width: 10%;
  text-align: right;
}

.hypothesis.book:hover > *:nth-child(3),
.hypothesis.book:hover > *:nth-child(4) {
  opacity: 1;
}

.hypothesis h4,
.hypothesis span {
  margin: 0;
  left: 0;
  font-weight: 400;
  display: inline;
  overflow: hidden;
  white-space: nowrap;
}

.gauntlet-wrapper:hover > * {
  opacity: 0.2;
}

.hypothesis:hover {
  opacity: 1;
  border-top: 1px solid #000;
}

.link-icon {
  transform: rotateZ(45deg);
  max-height: 18px;
}

.link {
  display: flex;
  flex-direction: row;
}

.gauntlet-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  max-width: 960px;
}

.gauntlet-tabs * {
  font-size: 0.9rem;
}

.gauntlet-tabs > *:first-child {
  width: 20%;
}
.w-tab-content {
  width: 80%;
}

.w-tab-link {
  color: #000;
  text-decoration: none;
}

.w-tab-link:hover {
  text-decoration: underline;
}

.w--current {
  color: rgb(55, 74, 215);
}

header {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 960px;
  display: none;
}

.section-3 {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 960px;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.8rem;
  margin: 0;
  margin-top: 4rem;
}

.purpose,
.contribute {
  margin: 0.5rem 0 0.5rem 0;
}

.contribute {
  margin-bottom: 2rem;
  display: block;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  color: #0007;
  font-style: italic;
}

@media (max-width: 767px) {
  .gauntlet-tabs {
    flex-direction: column;
  }

  .gauntlet-tabs > *:first-child {
    width: 100%;
  }

  .w-tab-content {
    width: 100%;
  }

  .hypothesis {
    flex-direction: column;
    border-bottom: 1px solid #000;
    padding: 0.5rem 0;
  }

  .hypothesis > * {
    width: 100% !important;
    opacity: 1 !important;
    text-align: left !important;
  }

  .hypothesis > *:nth-child(1) {
    font-weight: 700;
  }

  .link-icon {
    display: none;
  }

  .section-3 {
    margin: 0;
    padding: 0;
  }

  .w-tab-link {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .purpose {
    margin: 0.5rem 0 1rem 0;
  }
}
